@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the Google Map page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* === WHY?
To control the style of the Google Map navigation elements we replace the default controls.

=== WHAT?
Google Maps API - Replacing Default Controls: https://developers.google.com/maps/documentation/javascript/examples/control-replacement

=== HOW?
HTML: Create the navigation elements with relevant classes and id's, to be referenced by CSS and modified via JS.
CSS: Style the Google Maps navigation elements, .gm-style... classes.
JS: Create and call custom functions, ZoomControl, MapType Control, and FullScreenControl.
*/

.gm-style .controls {
    font-size: 28px;
    /* this adjusts the size of all the controls */
    background-color: rgb(13, 110, 139);
    /* Border around the navigation controls */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    height: 1em;
    margin: 6px;
    text-align: center;
    user-select: none;
    padding: 2px;
    width: 1em;
}

.gm-style .controls button {
    border: 0;
    background-color: rgb(13, 110, 139);
    /* Background of the navigation controls */
    color: #ffffff;
    /* Navigation control colour */
    font-family: 'Raleway', sans-serif;
    /* Consistent Font use on the website - Google: Map and Satellite naviagation elements */
}

.gm-style .controls button:hover {
    color: #ffffff;
    transform: scale(1.5);
}

.gm-style .controls.zoom-control {
    display: flex;
    flex-direction: column;
    height: auto;
}

.gm-style .controls.zoom-control button {
    font: 0.85em Raleway;
    /* Consistent Font use on the website - Google: Zoom + - naviagation elements */
    margin: 1px;
    padding: 0;
}

.gm-style .controls.maptype-control {
    display: flex;
    flex-direction: row;
    width: auto;
}

.gm-style .controls.maptype-control button {
    display: inline-block;
    font-size: 0.5em;
    margin: 0 1px;
    padding: 0 6px;
}

.gm-style .controls.maptype-control.maptype-control-is-map .maptype-control-map {
    font-weight: 700;
}

.gm-style .controls.maptype-control.maptype-control-is-satellite .maptype-control-satellite {
    font-weight: 700;
}

.gm-style .controls.fullscreen-control button {
    display: block;
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon {
    border-style: solid;
    height: 0.25em;
    position: absolute;
    width: 0.25em;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-left {
    border-width: 2px 0 0 2px;
    left: 0.1em;
    top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-left {
    border-width: 0 2px 2px 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-right {
    border-width: 2px 2px 0 0;
    right: 0.1em;
    top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-right {
    border-width: 0 0 2px 2px;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-left {
    border-width: 0 0 2px 2px;
    left: 0.1em;
    bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-left {
    border-width: 2px 2px 0 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-right {
    border-width: 0 2px 2px 0;
    right: 0.1em;
    bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-right {
    border-width: 2px 0 0 2px;
}


.weather,
.btn,
.gm-style,
.controls,
p {
    font-family: 'Raleway', sans-serif;
    /* Consistent Font use on the website - Google Map, Tool-Tips, Controls and Text */
}


/* === WHY?
To create an appealing look-and-feel for the viewing of cities across the World on Google Maps, and provide easy-access to city overview, weather, and details (D3) while staying on the same page.

=== WHAT?
Create a Grid with responsive elements to suit mobiles, tablets, and desktops.

=== HOW?
HTML: Create the <div> elements for the map, markers, modals, and footer elements.
CSS: Create  the layout for Google Maps, the Footer, and Modals.
JS: Control Marker Tool-Tips, and Modals.
*/

.parent {
    height: 100%;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "map map map"
        "footLeft footMid footRight";
    /* Crazy, I know...though it makes perfect sense...and is visually appealing, and is easier to understand */
}

.map {
    grid-area: map;
    display: grid;
    height: auto;
    width: auto;
}

.footLeft,
.footMid,
.footRight {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: grid;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    background: rgb(13, 110, 139);
    color: #ffffff;
}

.footLeft {
    grid-area: footLeft;
}

.footMid {
    grid-area: footMid;
}

.footRight {
    grid-area: footRight;
}


/* === FOOTER === */
/* Fixed Footer Element: */

/* === WHY?
Section Styling
'.section a', '.container', 'fixed-footer', and 'footer...' to create a consistent contact experience, and look-and-feel throughout the website.
Create a clean look, that's easy to comprehend and use.
=== */

/* ---  Making the Navigation Links visible against the #999999 (grey) background of the Fixed Navigation --- */
a {
    color: #ffffff;
    text-decoration: none;
    /* Remove underline from links = HTML style="text-decoration:none" */
}

/* === Fixed Footer with Scrollable Body === */

/* --- Fixed Footer with [display: grid] and [grid-are: foot*] to set Footer Elements in a row.  --- */

.footer {
    margin: 0;
    text-align: center;
}

/* ---  Making the Navigation Links visible against the #999999 (grey) background of the Fixed Navigation --- */
a {
    color: #ffffff;
    font-size: 110%;
    padding: 0px 10px;
    text-decoration: none;
    /* Remove underline from links = HTML style="text-decoration:none" */
}

a i:hover {
    /* color: #30e0fc; */
    /* zoom: 120%; */
    transform: scale(1.5);
    /* transform: scale() works on all browsers. zoom: doesn't work on Firefox. Also, zoom: ruins the footer. */
}

/* --- Add padding to the Fontawesome icons for the Left and Right Footer elements. It keeps the icon layout consisten across smaller devices. --- */
.fa-calendar,
.fa-graduation-cap,
.fa-location-arrow {
    padding-right: 20px;
    padding-left: 20px;
}

/* === WHY?
Adding tool-tips to clarify the fixed-footer elements (and to show off a nifty and useful CSS 3 feature).
=== */

/* --- Tool-tip on Hover by Kevin Powell: https://www.youtube.com/watch?v=xoRbkm8XgfQ HTML <i ... tool-tip="Tool-tip Text" ... ></i> --- */
i[tool-tip] {
    position: relative;
}

i[tool-tip]::after {
    content: attr(tool-tip);
    display: block;
    position: absolute;
    background-color: rgb(13, 110, 139);
    padding: 1em 2em;
    color: white;
    font-size: 0.75em;
    bottom: 0;
    left: -10px;
    /* Works on all tested displays (Chrome --> Inspect and FireFox RDM) and devices. The Tool-Tips are fully visible. */
    white-space: normal;
    transform: scale(0);
    transition: transform ease-out 250ms, bottom ease-out 250ms;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i[tool-tip]:hover::after {
    transform: scale(1);
    bottom: 200%;
}

/* === BACKDROP === */

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: 2;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

/* === MODAL === */
/*  */

/* === WHY?
Section Styling
'.section a', '.container', 'fixed-footer', and 'footer...' to create a consistent contact experience, and look-and-feel throughout the website.
Create a clean look, that's easy to comprehend and use.
=== */
/* 
.modal {
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 30vh;
    left: 10%;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modal .modal__content {
    padding: 1rem;
}

.modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
*/

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 30vh;
    left: 10%;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modal .modal__content {
    padding: 1rem;
}

.modal .modal__actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

#add-modal .modal__content {
    display: flex;
    flex-direction: column;
}